*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
.vscode/
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/
*.iml
*.iws
*.ipr
*.swp
*.tmp
*.bak
*.swp
*~.nib
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.LCK
*.log
.vscode/settings.json
out/
dist/
node_modules/
.venv
__pycache__/
*.gradle
